.painting {
  display: flex;
  width: fit-content;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0 0 15px rgb(0 0 0 / 7%);
  margin-bottom: 22px;
  transition: transform 0.5s ease;
  background-color: white;
  border-radius: 7px;
}
.painting img {
  width: 220px;
}
.painting p {
  font-size: 13px;
  margin: 0;
  opacity: 0.8;
}
.painting h3 {
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}
.painting:hover {
  transform: scale(1.35);
  box-shadow: 0 0 20px rgb(0 0 0 / 40%);
}